*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 30px;
    background-color: rgb(228, 228, 228);
}

.container {
    margin: 30px;
    padding: 30px;
    
}

.container-fluid .row .titulo h1{ 
    text-justify: auto;
    text-emphasis: none;
    font-size: 45px;
    margin: 20px;
}

.container-fluid .row .bajada h3{
    font-size: 30px;
    margin: 20px;
    color: #757575;
}

.container-fluid .row .datos-autor h6{
    font-size: 20px;
    color: #bbbaba;
    margin: 20px;
    text-align: end;
}

.container-fluid .row .imagen-1 img{
    margin: 10px;
    padding:30px;
    height: auto;
    width: auto;
}

.container-fluid .row .datos-img h6{
    margin: -25px 20px 20px 35px ;
}

.container-fluid .row .imagen-3 img{
    width: 200px;
    height: 200px;
}